.rotation {
	transform-style: preserve-3d;
	animation: rotate 30s linear infinite;
}

.itemSlider {
	transform-style: preserve-3d;
}

@keyframes rotate {
	from {
		transform: perspective(1000px) rotateY(0deg);
	}
	to {
		transform: perspective(1000px) rotateY(-360deg);
	}
}
